@model biblioteca.Models.LogOnModel

@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_Captcha.cshtml";
}
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('#mc-form').motionCaptcha({
            shapes: ['triangle', 'x', 'rectangle', 'circle', 'check', 'zigzag', 'arrow', 'delete', 'pigtail', 'star']
        });
    });
	</script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



<div id="wrap">
<h2>@Html.ValidationSummary(true, "No se ha iniciado la sesión. Corrija los errores e inténtelo de nuevo.")</h2>
		<div id="page">
        <h2>Inicie Session o 
        <a href = "@Url.Action("Register","Account")">Registrese</a> si no tiene una cuenta.</h2>
        <form action="@Url.Action("LogOn","Account")" id="mc-form"  method ="post" class = "mc-active">
                
                @Html.LabelFor(m => m.UserName)
                 <span class="ico">
                 <img src="../../Content/imagenes/user.png" alt="Username Icon" border="0">    
                 </span>
                 
                @Html.TextBoxFor(m => m.UserName)
                <p>@Html.ValidationMessageFor(m => m.UserName)</p>

                @Html.LabelFor(m => m.Password)
                <span class="ico">
                <img src="../../Content/imagenes/pass.png" alt="Password Icon" border="0">    
                </span>
                @Html.PasswordFor(m => m.Password)
                <p>@Html.ValidationMessageFor(m => m.Password)</p>
                <div id="mc">
            <p>Dibuje la forma en el cuadro para enviar su formulario:</p>
            <canvas id="mc-canvas">Tu navegador no soporta el elemento canvas - por favor visitanos en un navegador moderno</canvas>
         </div>
       <p><input type="submit" disabled="disabled" value="Enviar" /></p>
       <p><input type="hidden" id="mc-action" value="@Url.Action("LogOn","Account")" /></p>
       <p><strong>Nota:</strong>"("<a onclick="window.location.reload()" href="#" title="Click para cargar una nueva forma">Cargar Nueva Forma</a>")"</p>
</form>
</div>
</div>
	