@model biblioteca.Models.RegisterModel

@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_Session.cshtml";
}

<h2>Crear una nueva cuenta</h2>
<p>
    Use el formulario siguiente para crear una cuenta nueva. 
</p>
<p>
    Es necesario que las contraseñas tengan al menos @Membership.MinRequiredPasswordLength caracteres.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "No se creó la cuenta. Corrija los errores e inténtelo de nuevo.")
    <div>
        <fieldset>
            <legend>Información de cuenta</legend>

                @Html.LabelFor(m => m.UserName)
         <span class="ico">
                 <img src="../../Content/imagenes/user.png" alt="Username Icon" border="0">    
                 </span>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)

                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)

                @Html.LabelFor(m => m.Password)
                <span class="ico">
                <img src="../../Content/imagenes/pass.png" alt="Password Icon" border="0">    
                </span>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)

                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            <p>
                <button type="submit">Enviar</button>
            </p>
        </fieldset>
    </div>
}
