@{
    ViewBag.Title = "Principal";
}

<p>
Estamos dedicados a brindarte toda la informacion que necesitas y que se encuentra a nuestro alcance:
</p>
@section libro_top
{@foreach(var item in @ViewBag.lista3)
 {
<div class="post">
            <h2 class="title"><a href="#">Libro Destacado</a></h2>
			<p class="byline"><small>Publicador:    <a href="#">@item.nombre @item.ap</a></small></p>
			<div class="entry">
            <h3>Titulo:   @item.titulo</h3>
				<p>Descripcion:   @item.desc </p>
				<p class="links"><a href="#" class="more" title ="ver todo el contenido" >VER MAS</a></p>
                <p class="byline"><small>Comentar</small></p>
                
			</div>
            </div>break;
    
    }
}
@section articulo_top
{@foreach(var item in @ViewBag.lista)
 {<div class="post">
            <h2 class="title"><a href="#">Articulo Destacado</a></h2>
			<p class="byline"><small>Publicador:    <a href="#">@item.nombre @item.ap</a></small></p>
			<div class="entry">
				<h3>Titulo:   @item.titulo</h3>
				<p>Descripcion:   @item.desc </p>
				<p class="links"><a href="#" class="more" title ="ver todo el contenido" >VER MAS</a></p>
                <p class="byline"><small>Comentar</small></p>
                
			</div>
            </div>break;
                  }
}
@section tutorial_top
{@foreach(var item in @ViewBag.lista2){
<div class="post">
            <h2 class="title"><a href="#">Tutorial Destacado</a></h2>
			<p class="byline"><small>Publicador:    <a href="#">@item.nombre @item.ap</a></small></p>
			<div class="entry">
				<h3>Titulo:   @item.titulo</h3>
				<p>Descripcion:   @item.desc </p>
				<p class="links"><a href="#" class="more" title ="ver todo el contenido" >VER MAS</a></p>
                <p class="byline"><small>Comentar</small></p>
                
			</div>
            </div>break;}
}
@section curso_top
{@foreach(var item in @ViewBag.lista1){
<div class="post">
			<h2 class="title"><a href="#">Cursos destacado</a></h2>
			<p class="byline"><small>publicador:    <a href="#">@item.nombre @item.ap</a></small></p>
			<div class="entry">
				<h3>Titulo:   @item.titulo</h3>
				<p>Descripcion:   @item.desc </p>
				<p class="links"><a href="#" class="more" title ="ver todo el contenido" >VER MAS</a></p>
                <p class="byline"><small>Comentar</small></p>
                
			</div>
            </div>break;}
}

@section articulos_recientes
{<ul>
@foreach (var item in @ViewBag.articulos) 
{<li><a href="#">@item.titulo</a>
<p>Publicado por:</p>
<h3>@item.nombre @item.ap </h3>
    </li>
}
    </ul>
}
@section cursos_recientes
{<ul>
@foreach (var item in @ViewBag.cursos) 
{<li><a href="#">@item.titulo</a>
<p>Publicado por:</p>
<h3>@item.nombre @item.ap </h3>
    </li>
}
    </ul>
}
@section tutoriales_recientes
{<ul>
@foreach (var item in @ViewBag.tutoriales) 
{<li><a href="#">@item.titulo</a>
<p>Publicado por:</p>
<h3>@item.nombre @item.ap </h3>
    </li>
}
    </ul>
}
@section libros_recientes
{<ul>
@foreach (var item in @ViewBag.libros) 
{<li><a href="#">@item.titulo</a>
<p>Publicado por:</p>
<h3>@item.nombre @item.ap </h3>
    </li>
}
    </ul>
}

